body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
}

canvas {
  width: 500px;
  height: 500px;
  margin: 20px;
  border: 1px solid black;
  image-rendering: pixelated;
}

#message {
  color: white;
  top: 30px;
  left: 5px;
  width: 100%;
  font: arial;
  font-size: 20px;
}

#message2 {
  color: white;
  top: 200px;
  left: 5px;
  width: 100%;
  font: arial;
  font-size: 20px;
}
