body {
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

canvas {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 500px;
  height: 500px;
  margin: 20px;
  border: 2px solid white;
  image-rendering: pixelated;
}

ul {
  list-style-type: none;
  position: absolute;
  color: white;
  font: arial;
  font-size: 20px;
}

message {
  position: absolute;
  color: white;
  top: 20px;
  left: 50px;
  font: arial;
  font-size: 20px;
}

p {
  position: absolute;
  word-wrap: break-word;
  color: white;
  width: 700px;
  font: arial;
  font-size: 20px;
}

h1 {
  position: absolute;
  word-wrap: break-word;
  color: white;
  width: 400px;
  font: arial;
  font-size: 20px;
}

#conH {
  top: 50px;
  left: 800px;
}

#objH {
  top: 400px;
  left: 800px;
}

#Objectives {
  top: 425px;
  left: 760px;
}

#message2 {
  top: 560px;
  left: 50px;
}

#monster {
  top: 150px;
  left: 530px;
}

#player {
  top: 50px;
  left: 530px;
}

#controls {
  top: 75px;
  left: 760px;
}
