body {
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

canvas {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 500px;
  height: 500px;
  margin: 20px;
  border: 1px solid black;
  image-rendering: pixelated;
}

ul {
  list-style-type: none;
  position: absolute;
  color: white;
  font: arial;
  font-size: 20px;
}

message {
  position: absolute;
  color: white;
  top: 20px;
  left: 50px;
  font: arial;
  font-size: 20px;
}

p {
  position: absolute;
  word-wrap: break-word;
  color: white;
  top: 560px;
  left: 50px;
  width: 400px;
  font: arial;
  font-size: 20px;
}

#monster {
  top: 150px;
  left: 530px;
}

#player {
  top: 50px;
  left: 530px;
}
